@{
    ViewData["Title"] = "SEPTA Route Maps";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="~/TransitNE.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="hero-image">
        <div class="text-content-title">
            <div class="title">SEPTA Route Maps</div>
            <div class="subtitle">Select a different Agency for more information</div>
        </div>
    </div>
    <div class="frame">
        <div class="image-panel">
            <img class="septa-text-svg" src="~/Images/SEPTA.png" width="400px" height="400px" />
        </div>
        <div class="nj-button">
            <div class="state-layer">
                <button type="button" onclick="location.href='@Url.Action("NJTransitRouteMap", "NJTransitRouteMap")'">NJ Transit</button>
            </div>
        </div>
        <div class="patco-button">
            <div class="state-layer">
                <button type="button" onclick="location.href='@Url.Action("PatcoRouteMap", "PatcoRouteMap")'">PATCO</button>
            </div>
        </div>
        <div class="regional-rail-map">
            <img class="rail-map-image" src="~/Images/SeptaMaps/SEPTA-line-map-rr.png" width="150px" height="150px" />
            <p>
                <a href="~/Images/SeptaMaps/files/line-map-rr-1.pdf">[DOWNLOAD]</a>
            </p>
        </div>
        <div class="trolley-map-1">
            <img class="trolley-map-one" src="~/Images/SeptaMaps/ctl_small.jpg" width="150px" height="150px" />
            <a href="~/Images/SeptaMaps/files/line-map-trolley-1.pdf">[DOWNLOAD]</a>
        </div>
        <div class="trolley-map-2">
            <img class="trolley-map-two" src="~/Images/SeptaMaps/Trolley.jpg" width="150px" height="150px" />
            <a href="~/Images/SeptaMaps/files/line-map-101-102.pdf">[DOWNLOAD]</a>
        </div>
        <div class="norristown">
            <img class="norris-image" src="~/Images/SeptaMaps/norristown.PNG" width="100px" height="100px" />
            <a href="~/Images/SeptaMaps/files/line-map-nhsl.pdf">[DOWNLOAD]</a>
        </div>
        <div class="subways">
            <div class="broad">
                <img class="broad-image" src="~/Images/SeptaMaps/broad.jpg" width="100px" height="100px" />
                <p>
                    <a href="~/Images/SeptaMaps/files/line-map-bsl-1.pdf">[DOWNLOAD]</a>
                </p>
            </div>
            <div class="market">
                <img class="market-image" src="~/Images/SeptaMaps/market.jpg" width="100px" height="100px" />
                <p>
                    <a href="~/Images/SeptaMaps/files/line-map-mfl-1.pdf">[DOWNLOAD]</a>
                </p>
            </div>
        </div>
        <div class="bus">
            <p>Download bus route map here</p>
            <a href="~/documents/SEPTA-System-Map-40x40-1.pdf">[DOWNLOAD]</a>
        </div>
    </div>
</body>
</html>