@{
    ViewData["Title"] = "PATCO Route Maps";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="~/TransitNE.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="title-block">
    <div class="text-content-title">
        <div class="title">Septa Route Maps</div>
        <div class="subtitle">Select a different Agency for more information</div>
    </div>
</div>
<div class="patco-rail-map">
    <img class="rail-map-image" src="~/Images/SeptaMaps/SEPTA-line-map-rr.png" width="400px" height="400px" />
    <p>PLACEHOLDER</p>
</div>
</body>
</html>