@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page will be the landing page for users coming to the site</p>
    <p>User Id : @ViewData["UserID"]</p>
</div>