@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Route Information";
}

<h2>Route Information</h2>

<p>Template will contain route information</p>