@{
    ViewData["Title"] = "NJ Transit Route Maps";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="~/TransitNE.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="title-block">
    <div class="text-content-title">
        <div class="title">Septa Route Maps</div>
        <div class="subtitle">Select a different Agency for more information</div>
    </div>
</div>
<div class="nj-button">
    <div class="state-layer">
        <button type="button" onclick="location.href='@Url.Action("SeptaRouteMap", "SeptaRouteMap")'">SEPTA</button>
    </div>
</div>
<div class="patco-button">
    <div class="state-layer">
        <button type="button" onclick="location.href='@Url.Action("PatcoRouteMap", "PatcoRouteMap")'">PATCO</button> 
    </div>
</div>
    <div class="nj-rail-map">
        <img class="rail-map-image" src="~/Images/SeptaMaps/SEPTA-line-map-rr.png" width="400px" height="400px" />
        <p>PLACEHOLDER Image and Download Link</p>
    </div>
    <div class="nj-bus">
        <img class="trolley-map-one" src="~/Images/SeptaMaps/ctl_small.jpg" width="400px" height="400p" />
        <p>PLACEHOLDER Image and Download Link</p>
    </div>
</body>
</html>